<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Existing head content -->
    <script src="https://unpkg.com/force-graph"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="~/js/graphInterop.js"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <!-- Existing scripts -->
</body>
</html>
