@page "/config/{configName}"

@inject MirthConfigService ConfigService

<h3>@configName</h3>
<pre>@configContent</pre>

@code {
    [Parameter]
    public required string configName { get; set; }

    private string configContent;

    protected override async Task OnParametersSetAsync() {
        configContent = await ConfigService.GetMirthConfigAsync(configName);
    }
}
